In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
df_airlines = pd.read_csv('nyc_airlines.csv')
df_airports = pd.read_csv('nyc_airports.csv')
df_flights = pd.read_csv('nyc_flights.csv')
df_planes = pd.read_csv('nyc_planes.csv')
df_weather = pd.read_csv('nyc_weather.csv')

In [4]:
df_flights

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T10:00:00Z
1,1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T10:00:00Z
2,2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T10:00:00Z
3,3,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T11:00:00Z
4,4,2013,1,1,554,558,-4,740,728,12,UA,1696,N39463,EWR,ORD,150,719,5,58,2013-01-01T10:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277972,335736,2013,9,30,2240,2245,-5,2334,2351,-17,B6,1816,N354JB,JFK,SYR,41,209,22,45,2013-10-01T02:00:00Z
277973,335737,2013,9,30,2240,2250,-10,2347,7,-20,B6,2002,N281JB,JFK,BUF,52,301,22,50,2013-10-01T02:00:00Z
277974,335738,2013,9,30,2241,2246,-5,2345,1,-16,B6,486,N346JB,JFK,ROC,47,264,22,46,2013-10-01T02:00:00Z
277975,335739,2013,9,30,2307,2255,12,2359,2358,1,B6,718,N565JB,JFK,BOS,33,187,22,55,2013-10-01T02:00:00Z
277976,335741,2013,9,30,0,1842,0,0,2019,0,EV,5274,N740EV,LGA,BNA,0,764,18,42,2013-09-30T22:00:00Z

# Questions

## 1

In [6]:
df_flights_only_newark = df_flights[df_flights['origin'] == 'EWR']
df_flights_only_newark['dest'].nunique()

82

## 2

In [15]:
df_flights_grouped_by_day_month = df_flights_only_newark.groupby(['month', 'day'])['dest'].nunique().reset_index()
average_destinations_per_day = df_flights_grouped_by_day_month.groupby('day')['dest'].mean().reset_index()
average_destinations_per_day['dest'] = round(average_destinations_per_day['dest'])
average_destinations_per_day

    day  dest
0     1  68.0
1     2  68.0
2     3  69.0
3     4  69.0
4     5  68.0
5     6  68.0
6     7  68.0
7     8  69.0
8     9  67.0
9    10  69.0
10   11  69.0
11   12  68.0
12   13  68.0
13   14  68.0
14   15  69.0
15   16  68.0
16   17  69.0
17   18  68.0
18   19  68.0
19   20  68.0
20   21  69.0
21   22  69.0
22   23  68.0
23   24  68.0
24   25  68.0
25   26  67.0
26   27  68.0
27   28  68.0
28   29  68.0
29   30  68.0
30   31  67.0

## 3

In [28]:
df_flights['date'] = pd.to_datetime(df_flights[['year', 'month','day']])
df_flights['day_of_week'] = df_flights.apply(lambda x: x['date'].weekday(), axis=1)
df_flights

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,date,day_of_week
0,0,2013,1,1,517,515,2,830,819,11,...,N14228,EWR,IAH,227,1400,5,15,2013-01-01T10:00:00Z,2013-01-01,1
1,1,2013,1,1,533,529,4,850,830,20,...,N24211,LGA,IAH,227,1416,5,29,2013-01-01T10:00:00Z,2013-01-01,1
2,2,2013,1,1,542,540,2,923,850,33,...,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T10:00:00Z,2013-01-01,1
3,3,2013,1,1,554,600,-6,812,837,-25,...,N668DN,LGA,ATL,116,762,6,0,2013-01-01T11:00:00Z,2013-01-01,1
4,4,2013,1,1,554,558,-4,740,728,12,...,N39463,EWR,ORD,150,719,5,58,2013-01-01T10:00:00Z,2013-01-01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277972,335736,2013,9,30,2240,2245,-5,2334,2351,-17,...,N354JB,JFK,SYR,41,209,22,45,2013-10-01T02:00:00Z,2013-09-30,0
277973,335737,2013,9,30,2240,2250,-10,2347,7,-20,...,N281JB,JFK,BUF,52,301,22,50,2013-10-01T02:00:00Z,2013-09-30,0
277974,335738,2013,9,30,2241,2246,-5,2345,1,-16,...,N346JB,JFK,ROC,47,264,22,46,2013-10-01T02:00:00Z,2013-09-30,0
277975,335739,2013,9,30,2307,2255,12,2359,2358,1,...,N565JB,JFK,BOS,33,187,22,55,2013-10-01T02:00:00Z,2013-09-30,0
277976,335741,2013,9,30,0,1842,0,0,2019,0,...,N740EV,LGA,BNA,0,764,18,42,2013-09-30T22:00:00Z,2013-09-30,0

In [20]:
df_flights.isna().sum()

Unnamed: 0        0
year              0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         0
carrier           0
flight            0
tailnum           0
origin            0
dest              0
air_time          0
distance          0
hour              0
minute            0
time_hour         0
dtype: int64